* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
    list-style: none;
}

body {
    background: #0a0a0a;
    color: #ffffff;
    font-size: 16px;
}